body {
	color: #000000;
	font-size: 16px;
	background-color: #ffffff;
	font-family: 'Jaldi', sans-serif;
}

#header-nav {
	background-color: #9999ff;
	border-radius: 0;
	border: 0;
	height: 85px;
}

.navbar-brand {
	padding-top: 30px;
}

.navbar-brand h1 {
	color: #000000;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 0.5;
}

/* HEADER */

/* END HEADER */

/* BODY */
/* END BODY */